@{
    ViewBag.Title="Basvuru Detayi";
}

@{
    var className=@Model.WillAttend == true ? "primary" : "danger";
}
<main class="text-center">
    <h1 class="h4">Basvuru Detayi</h1>
    <p>
        <span class="badge text-bg-@className">
            @if(Model.WillAttend==true){
                <text>Katiliyor</text>
            }
            else{
                <text>Katilmiyor</text>
            }
        </span>
    </p>
    <p>Isim: @Model.Name</p>
    <p>Email: @Model.Email</p>
    <p>Telefon : @Model.Phone</p>
    <a asp-controller="Meeting" asp-action="List" class="btn btn-outline-@className">Katilimci Listesi</a>
</main>