@{
    ViewBag.Title="Toplanti Katilim Listesi";
}
<main class="text-center">
    <h1 class="h4">Toplanti Katilim Listesi</h1>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Ad</td>                
                <td>Katilim Durumu</td>
                <td>Detay</td>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
           @foreach(var user in Model){
            string durum = user.WillAttend==true?"Evet":"Hayir";
            var className=user.WillAttend==true?"table-success":"table-danger";
            if(user.WillAttend==true){
                i++;
            }
               <tr class="@className">
                   <td>@user.Name</td>                
                   <td>@durum</td>
                   <td><a class="btn btn-sm btn-primary" href="/meeting/details/@user.Id">Detay</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <span>Katilimci sayisi: @i</span>
        </div>
    </div>
</main>